
body{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* nav contain section */
.nav-contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo{
    width: 80px;
    height: 40px;
}
.logo-title{
    font-size:2.8125rem;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    color: #0B0223;
}
span{
    color:#FF42A5;
}

.nav-items{
    display: flex;
    gap: 30px;
    align-items: center;
}

li{
    list-style:none;
   
}

li>a , .nav-button{
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    color: #3C354F;
    font-weight: 500;
    font-size: 1.125rem;
}
.nav-button{
    width:262px;
    height: 56px;
    border-style: none;
    background-color: #0b022310;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fa-youtube{
    color: red;
    font-size:2.0625rem;
}
.fa-tiktok {
    font-size:1.5rem ;
    
}

/* It is Hero section */


.hero-section{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-image: url(images/Vector\ 2.png);
    background-repeat: no-repeat;
    background-size:700px 750px;
   
}

/* hero-contain section */

.hero-title{
    font-size: 3rem;
    color: #0B0223;
    font-weight: 600;
    font-family:'Work Sans', sans-serif ;
    margin: 10px 0px;
}
.hero-goat{
    margin: 0px -6px;
    font-size:5.9375rem;
    font-weight: 800;
    font-family: 'Work Sans', sans-serif;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(155deg, rgba(249,72,178,1) 2%, rgba(181,88,241,1) 58%);
   
}

.hero-icon>div{
    display: flex;
    align-items: center;
    margin: -10px 0px;

}
.icon-image{
    width: 24px;
    height: 24px;
}

.sing-button, .go-button {
    width: 156px;
    height: 65px;
   border-radius:40px;
   background-color: #FF42A5;
   color: white;
   border: none;
   font-size: 1.25rem;
   margin-top: 30px;
}
.go-button{
    background-color:#4EC5F7;
    margin-left: 15px;
}

/* Gamer Section */

.gamer-section{
    display: flex;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
    background-color: #fae2ee2c;
   

}

.gamer-image {
    width: 40%;
    display: flex;
    align-items: center;
}

.gamer-contain{
    width: 40%;
    text-align: right;
    margin-right: 60px;
}

.gamer-title{
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(155deg, rgba(249,72,178,1) 2%, rgba(181,88,241,1) 58%);

}

.gamer-descrition, .gamer-purpose{
    color: #534C64;
    font-size:1.125rem ;
    font-family: 'Work Sans', sans-serif;
}
.gamer-button{
    width: 156px;
    height: 55px;
   border-radius:40px;
   background-color: #FF42A5;
   color: white;
   border: none;
   font-size: 1rem;

}

.gamer-comment{
    color: #534C64;
    font-size:2rem; 
    font-weight: 700;
    font-family: 'Work Sans', sans-serif;
}











/* Responsive for small device */

@media screen and (max-width:576px) {

    /* nave section */
    .nav-contain{
       
    display: flex;
    flex-direction: column;
        
    }
    .nav-items{
       display: flex;
       flex-direction: column;
       
        
    }
    /* Hero section */

    .hero-section{
       
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .hero-title{
        margin-top: 20px;
    }

    /* gamer Section */
    
    .gamer-section{
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: #fae2ee2c;
        flex-direction: column;
       
    
    }
    .gamer-image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .gamer-contain{
        width: 100%;
        text-align: center;
       
        
        
    }



    
}








/* Responsive for medium device */

@media screen and (min-width:577px) and (max-width:768px) {
    /* nav Section */
    .nav-contain{
       
        display: flex;
        flex-direction: column;
    }
    /* Hero Section */

    .hero-section{
       
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .hero-title{
        margin-top: 20px;
    }

    /* Gamer Section */

    .gamer-section{
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: #fae2ee2c;
        flex-direction: column;
       
    
    }

    
.gamer-image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gamer-contain{
    width: 100%;
    text-align: center;
   
    
    
}





    
}
